### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data_csv = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv('Resources/purchase_data.csv')
purchase_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
PlayerSum = purchase_df["SN"].drop_duplicates()
PlayerSum = PlayerSum.count()

print(f'The total number of players is {PlayerSum}.')

pd.DataFrame({'Player Total': [PlayerSum]})

The total number of players is 576.

   Player Total
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.
#unique items
item_count_id = len(purchase_df['Item ID'].unique())
print(f'The total number of unique itemes is: {item_count_id}')


#total sales
total_sales = sum(purchase_df['Price'])

#total items sold
total_sold = len(purchase_df['Item Name'])


#average price
average_price = round(purchase_df['Price'].mean() ,2)


print(f'The average sales price is: {average_price}')
pd.DataFrame({'Number Sold': [total_sold], 'Total Revenue': total_sales, 'Unique Item Count': [item_count_id], 'Average Price': [average_price]})

The total number of unique itemes is: 183
The average sales price is: 3.05

   Average Price  Number Sold  Total Revenue  Unique Item Count
0           3.05          780        2379.77                183

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:

Genders = len(purchase_df ["Gender"].unique())

print(f'Total number of genders claimed in survey are: {Genders}')

Grouped = purchase_df[["SN", "Gender"]]
Grouped = Grouped.drop_duplicates()
Counts = Grouped["Gender"].value_counts()
print(Counts)
#Gender_Counts = [Counts[0], Counts[1], Counts[2]]
#print(Gender_Counts)

Male_Count = Counts[0]
print(Male_Count)
Female_Count = Counts[1]
print(Female_Count)
Other_Count = Counts[2]
print(Other_Count)


Male_Percent = round((Male_Count/PlayerSum) * 100, 2)
print(Male_Percent)

Female_Percent = round((Female_Count/PlayerSum) * 100, 2) 
print(Female_Percent)

Other_Percent = round((Other_Count/PlayerSum) * 100, 2)
print(Other_Percent)

gender_dictionary = {
    "Total Count": [Male_Count, Female_Count, Other_Count],
    "Percentage of Players" : [Male_Percent, Female_Percent, Other_Percent]
}
print(gender_dictionary)

gender_df = pd.DataFrame(gender_dictionary, columns = ['Total Count', 'Percentage of Players'],
                        index = ['Male', 'Female', 'Other'])
gender_df

Total number of genders claimed in survey are: 3
Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64
484
81
11
84.03
14.06
1.91
{'Total Count': [484, 81, 11], 'Percentage of Players': [84.03, 14.06, 1.91]}

        Total Count  Percentage of Players
Male            484                  84.03
Female           81                  14.06
Other            11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:

total_sales = sum(purchase_df['Price'])
total_sales = round((total_sales), 2)
print(total_sales)  #double checking myself

2379.77

In [6]:
#gender sales grouping

Gender_Sales_Grouped = purchase_df[["SN", "Gender", "Price"]]
Grouped_Counts = Gender_Sales_Grouped["Gender"].value_counts()
Grouped_Sales = Gender_Sales_Grouped["Price"].sum()
print(Grouped_Counts)
print(Grouped_Sales)

Male_Sales_Count = Grouped_Counts[0]
print(Male_Sales_Count)

Female_Sales_Count = Grouped_Counts[1]
print(Female_Sales_Count)

Other_Sales_Count = Grouped_Counts[2]
print(Other_Sales_Count)

Gender_Sales_Grouped = Gender_Sales_Grouped.groupby('Gender')
#gender_spend = Gender_Sales_Grouped.sum()
gender_spend = purchase_df.groupby('Gender')['Price'].sum()
print(gender_spend)  # price name in printed results is total spent by gender

max_cost_by_gender = purchase_df.groupby('Gender')['Price'].max()
min_cost_by_gender = purchase_df.groupby('Gender')['Price'].min()
avg_cost_by_gender = purchase_df.groupby('Gender')['Price'].mean()
print(max_cost_by_gender)
print(min_cost_by_gender)
print(avg_cost_by_gender)

#male, female and other average spend
MAS = gender_spend.Male / Male_Sales_Count
MAS = round((MAS), 2)
print(MAS)

FAS = gender_spend.Female / Female_Sales_Count
FAS = round((FAS), 2)
print(FAS)

OAS = gender_spend["Other / Non-Disclosed"] / Other_Sales_Count
OAS = round((OAS), 2)
print(OAS)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
2379.77
652
113
15
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender
Female                   4.90
Male                     4.99
Other / Non-Disclosed    4.75
Name: Price, dtype: float64
Gender
Female                   1.00
Male                     1.00
Other / Non-Disclosed    1.33
Name: Price, dtype: float64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
3.02
3.2
3.35

In [7]:
#Sum of Sales by Gender
#gender_spend
#total sales by gender
Male_Sum = gender_spend.Male
Male_Sum = round((Male_Sum), 2)
print(Male_Sum)

Female_Sum = gender_spend.Female
Female_Sum = round((Female_Sum), 2)
print(Female_Sum)

Other_Sum = gender_spend["Other / Non-Disclosed"]
Other_Sum = round((Other_Sum), 2)
print(Other_Sum)

1967.64
361.94
50.19

In [8]:
#Percent spent by gender

#male, female and other percent of total sales 
MP = Male_Sum / total_sales
MP = round((MP), 2)
print(MP)

FP = Female_Sum / total_sales
FP = round((FP), 2)
print(FP)

OP = Other_Sum / total_sales
OP = round((OP), 2)
print(OP)

0.83
0.15
0.02

In [9]:
Gender_Spending_List_Dictionary  = {
    "Total Count": [Male_Count, Female_Count, Other_Count],
    "Average Spending by Gender" : [MAS, FAS, OAS],
    "Sum of Sales by Gender" : [Male_Sum, Female_Sum, Other_Sum],
    "Percent of Total Sales/Gender" : [MP, FP, OP]
}
print(Gender_Spending_List_Dictionary)

{'Total Count': [484, 81, 11], 'Average Spending by Gender': [3.02, 3.2, 3.35], 'Sum of Sales by Gender': [1967.64, 361.94, 50.19], 'Percent of Total Sales/Gender': [0.83, 0.15, 0.02]}

In [10]:
Gender_Spending_df = pd.DataFrame(Gender_Spending_List_Dictionary)

Gender_Spending_df

,Average Spending by Gender,Percent of Total Sales/Gender,Sum of Sales by Gender,Total Count
0,3.02,0.83,1967.64,484
1,3.20,0.15,361.94,81
2,3.35,0.02,50.19,11

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_df["Age_Group"] = pd.cut(purchase_df["Age"], age_bins, labels=group_names)
Age_Purchase_df = purchase_df.groupby("Age_Group")
percentage = Age_Purchase_df["SN"].nunique()/(Age_Purchase_df["SN"].nunique()).sum() * 100

percentage

summarytable2 = pd.DataFrame({"Percentage":percentage,"Count by Age":Age_Purchase_df["SN"].nunique()})

summarytable2

           Count by Age  Percentage
Age_Group
<10                  17    2.951389
10-14                22    3.819444
15-19               107   18.576389
20-24               258   44.791667
25-29                77   13.368056
30-34                52    9.027778
35-39                31    5.381944
40+                  12    2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels=group_names)
Age_Groups = purchase_df.groupby("Age Group")

Age_Counts = purchase_df["Age Group"].value_counts()
Sales_Age_Sum = Age_Groups["Price"].sum()
Average_Sales_Age = Age_Groups["Price"].mean()
#Normalized_Group = Sales_Age_Sum/Age_Counts

Summary = pd.DataFrame({
    "Age Counts": Age_Counts,
    "Sums by Age": Sales_Age_Sum,
    "Average Sales by Age": Average_Sales_Age,
    #"Normalized Purchase Price": Normalized_Group
    
})

Summary.head()

       Age Counts  Average Sales by Age  Sums by Age
10-14          28              2.956429        82.78
15-19         136              3.035956       412.89
20-24         365              3.052219      1114.06
25-29         101              2.900990       293.00
30-34          73              2.931507       214.00

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
Groups_df = purchase_df.groupby(["SN"])
print(Groups_df)

Totals_count = Groups_df["SN"].count()
Total_prices = Groups_df["Price"].sum()
Average_prices = Groups_df["Price"].mean()

Sum_Table = pd.DataFrame({"Totals count": Totals_count,
    "Total prices": Total_prices,
    "Average prices": Average_prices})

Sum_Table = Sum_Table.sort_values(['Total prices'], ascending=False)
Sum_Table.head

<pandas.core.groupby.DataFrameGroupBy object at 0x1114e5908>

<bound method NDFrame.head of                Average prices  Total prices  Totals count
SN
Lisosia93            3.792000         18.96             5
Idastidru52          3.862500         15.45             4
Chamjask73           4.610000         13.83             3
Iral74               3.405000         13.62             4
Iskadarya95          4.366667         13.10             3
Ilarin91             4.233333         12.70             3
Ialallo29            3.946667         11.84             3
Tyidaim51            3.943333         11.83             3
Lassilsala30         3.836667         11.51             3
Chadolyla44          3.820000         11.46             3
Iri67                3.790000         11.37             3
Inguron55            3.703333         11.11             3
Siallylis44          3.456667         10.37             3
Saistyphos30         3.443333         10.33             3
Phyali88             3.433333         10.30             3
Strithenu87          3.393333         10.18             3
Lisim78              3.340000         10.02             3
Haillyrgue51         3.166667          9.50             3
Phistym51            4.750000          9.50             2
Lamil79              4.645000          9.29             2
Aina42               3.073333          9.22             3
Saesrideu94          4.590000          9.18             2
Arin32               4.545000          9.09             2
Rarallo90            3.016667          9.05             3
Baelollodeu94        4.515000          9.03             2
Aelin32              2.993333          8.98             3
Lisopela58           2.953333          8.86             3
Saedaiphos46         2.943333          8.83             3
Reunasu60            4.410000          8.82             2
Chanastnya43         2.940000          8.82             3
...                       ...           ...           ...
Lirtim36             1.330000          1.33             1
Shidai42             1.330000          1.33             1
Philodil43           1.290000          1.29             1
Eyista89             1.290000          1.29             1
Mindilsa60           1.280000          1.28             1
Tyarithn67           1.140000          1.14             1
Aisur51              1.140000          1.14             1
Ilista82             1.140000          1.14             1
Jiskimsda56          1.140000          1.14             1
Aillyriadru65        1.100000          1.10             1
Eryon48              1.100000          1.10             1
Iduelis31            1.100000          1.10             1
Yasur85              1.100000          1.10             1
Undjask33            1.100000          1.10             1
Lirtassa52           1.090000          1.09             1
Aelidru27            1.090000          1.09             1
Yalaeria91           1.060000          1.06             1
Aesurstilis64        1.030000          1.03             1
Saida58              1.030000          1.03             1
Euthe35              1.030000          1.03             1
Hala31               1.020000          1.02             1
Qilalista41          1.020000          1.02             1
Frichjaskan98        1.020000          1.02             1
Isurria36            1.020000          1.02             1
Eudanu84             1.020000          1.02             1
Ililsasya43          1.020000          1.02             1
Irilis75             1.020000          1.02             1
Aidai61              1.010000          1.01             1
Chanirra79           1.010000          1.01             1
Alo38                1.000000          1.00             1

[576 rows x 3 columns]>

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
group = purchase_df.groupby(["Item ID"])
print(group)

Item_count = group["Item ID"].count()
Item_name =  group["Price"].sum()
Item_price = Item_count / Item_name

summary_tab = pd.DataFrame({"Item Count": Item_count,
                            "Item Price":Item_price,
                             "Total Price": Item_name })
                          
summary_tab = summary_tab.sort_values(["Item Count"], ascending=False)
summary_tab.head()

<pandas.core.groupby.DataFrameGroupBy object at 0x1114e5be0>

         Item Count  Item Price  Total Price
Item ID
178              12    0.236407        50.76
145               9    0.218341        41.22
108               9    0.283286        31.77
82                9    0.204082        44.10
19                8    0.980392         8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [49]:
group = purchase_df.groupby(["Item ID"])
print(group)

Item_name =  group["Price"].sum()
Item_count = group["Item ID"].count()
Item_price = Item_count/Item_name

summary_tab = pd.DataFrame({"Total Price": Item_name,
                            "Item Count": Item_count,
                            "Item Price":Item_price
                              })
                          
summary_tab = summary_tab.sort_values(["Total Price"], ascending=False)
summary_tab.head()

<pandas.core.groupby.DataFrameGroupBy object at 0x1114eeb00>

         Item Count  Item Price  Total Price
Item ID
178              12    0.236407        50.76
82                9    0.204082        44.10
145               9    0.218341        41.22
92                8    0.204918        39.04
103               8    0.229885        34.80